.proDashWrapper {
  position: relative;
  max-width: 900px;
  margin: 100px auto 40px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--card-shadow);
  z-index: 100;
}

.cardsBtns {
  position: absolute;
  height: 43px;
  top: -43px;
  left: 40px;
  background-color: var(--buttons-background);
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.clientsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 50px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
}

.heading {
  margin-top: 30px;
  text-align: center;
}

.dashboardExercises {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

@media (min-width: 800px) {
  .proDashWrapper {
    border-radius: 5px;
  }
  .clientsContainer {
    max-width: none;
    flex-wrap: nowrap;
    padding-bottom: 50px;
    border-radius: 5px;
  }
}

@media (min-width: 500px) {
  .clientsContainer {
    /* border-radius: 0; */
  }
}
