.NavLink {
  display: block;
  padding: 5px 20px;
  color: #757575;
  text-decoration: none;
  font-size: 1.3em;
  transition: 0.1s ease-out;
  box-sizing: border-box;
}

.NavLink:hover {
  color: var(--font-active);
}

.NavLink a {
  color: inherit;
  color: var(--sidebar-link);
  text-decoration: none;
}

.NavLink a.activeLink {
  color: var(--active-link);
}

@media (min-width: 800px) {
  .NavLink {
    font-size: 1em;
    padding: 5px 10px;
  }
  .NavLink a {
    color: var(--font-super-light);
  }
}
