.pendingList {
  width: 100%;
  margin: 0;
  padding: 0;
}

.pendingListHeading {
  margin: 0 0 0 30px;
  line-height: 62px;
  border-bottom: 1px solid var(--list-line);
}
.pendingList ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

@media (min-width: 800px) {
  .pendingList {
    width: 40%;
    margin: 40px auto;
  }
}
