:root {
  /* Main colors */
  --logo-color: #7d3b43;

  --one-light: #8f4f4f;
  --one: #7d3b43;
  --one-dark: #6b2737;

  --footer-nav-background: #a5a5a5;

  --primary-color: #134074;
  /* --primary-color-darker: #3b8b3e; */
  /* --primary-color-transparent: rgb(76, 175, 80, 0.1); */
  /* --secondary-color: #ff4f4f; */
  /* --secondary-color-darker: #7c2222; */
  /* --secondary-color-transparent: rgb(216, 73, 29, 0.1); */

  /* --blue-color: #2196f3; */

  /* Spesific colors */
  --font-super-light: var(--one-light);
  --font-light: #4888aa;
  --font-dark: #003049;
  --bgc-dark: #003049;
  --font-active: var(--one);
  --active-link: var(--one-dark);
  --grey-dark: rgb(128, 128, 128);
  --grey: rgb(230, 230, 230);
  --grey-light: rgb(211, 211, 211);
  --grey-transparent: rgb(128, 128, 128, 0.1);

  --navbar-background: var(--footer-nav-background);
  --navbar-icons: var(--one);
  --burger: var(--one-dark);
  --sidebar-icon: #7e7e7e;
  --sidebar-link: #7e7e7e;
  --logged-in-as-light: var(--one-light);
  --logged-in-as-dark: var(--one-dark);

  --footer-background: var(--footer-nav-background);
  --footer-color: var(--font-super-light);

  --client-list-icons: var(--one);
  --list-line: rgba(204, 204, 204, 0.4);

  --card-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}
